<div class="banner">
  <div class="banner-left">
    <div class="title">Project List</div>
    <span>Dashboard / Project / List</span>
  </div>
  <div class="banner-right">
    <img
      src="	https://modernize-angular-main.netlify.app/assets/images/breadcrumb/ChatBc.png"
      alt=""
    />
    <button
      class="project-add"
      data-modal-target="default-modal"
      data-modal-toggle="default-modal"
    >
      Add Project
    </button>
    <button
      class="project-add"
      style="margin-left: 15px"
      data-modal-target="modal-addEmpolyee"
      data-modal-toggle="modal-addEmpolyee"
    >
      Add Employee
    </button>
  </div>
</div>

<div class="project">
  <div *ngIf="listProject.length === 0" class="empty">
    <img
      src="	https://cdn.divineshop.vn/static/4e0db8ffb1e9cac7c7bc91d497753a2c.svg"
    />
  </div>

  <div class="project-item" *ngFor="let project of listProject">
    <div class="project-top">
      <span>Employee Join: {{ project.countJoin }}</span>
      <span>Status: {{ project.status }}</span>
    </div>
    <div class="project-content">
      <div class="project-desc project-name">Project: #{{ project.name }}</div>
      <div class="project-row">
        Team Size: <span style="font-weight: 500">{{ project.teamSize }}</span>
      </div>
      <div class="project-row">
        Budget:
        <span style="font-weight: 500"
          >{{ formattedNumber(project.budget) }}đ</span
        >
      </div>
      <div class="project-row">
        Exprense:
        <span style="font-weight: 500"
          >{{ formattedNumber(project.exprense) }}đ</span
        >
      </div>
      <div class="project-row">
        Start Date:
        <span style="font-weight: 500">{{ project.startDate }}</span>
      </div>
    </div>
    <div class="project-bottom">
      <button
        data-modal-target="modal-detailProject"
        data-modal-toggle="modal-detailProject"
        (click)="detailProject(project.id)"
      >
        Detail
      </button>
      <button [routerLink]="['/admin/project/edit', project.id]">Edit</button>
      <button (click)="handleDeleteProject(project.id)">Delete</button>
    </div>
    <div
      class="prog"
      [style.width.%]="project.progress"
      style="
        height: 3px;
        background-image: linear-gradient(
          90deg,
          #6e40aa,
          #6154c8,
          #4c6edb,
          #368ce1,
          #24aad8,
          #1ac7c2
        );
      "
    ></div>
  </div>
</div>

<!-- Thêm mới dự án -->
<div
  id="default-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Add new project
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="default-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <label
          for="helper-text"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Project Name</label
        >
        <input
          type="text"
          id="helper-text"
          aria-describedby="helper-text-explanation"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Ex: ReactJS..."
          [(ngModel)]="projectData.name"
        />
        <div class="grid gap-6 mb-6 lg:grid-cols-2">
          <div>
            <label
              for="first_name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Budget</label
            >
            <input
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="0"
              required
              [(ngModel)]="projectData.budget"
            />
          </div>

          <div>
            <label
              for="phone"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Exprense</label
            >
            <input
              type="text"
              id="phone"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="0"
              required
              [(ngModel)]="projectData.exprense"
            />
          </div>
        </div>
        <div class="grid gap-6 mb-6 lg:grid-cols-2">
          <div>
            <label
              for="first_name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Team Size</label
            >
            <input
              type="text"
              id="first_name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="0"
              required
              [(ngModel)]="projectData.teamSize"
            />
          </div>

          <div>
            <label
              for="phone"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Start Date</label
            >
            <input
              type="date"
              id="phone"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="0"
              required
              [(ngModel)]="projectData.startDate"
            />
          </div>
        </div>
        <label
          for="countries"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Status Project</label
        >
        <select
          [(ngModel)]="projectData.status"
          id="countries"
          class="mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option value="Planning">Planning</option>
          <option value="Developing">Developing</option>
          <option value="Executing">Executing</option>
          <option value="Review">Review</option>
          <option value="Completed">Completed</option>
        </select>
        <div class="flex items-start mb-6">
          <div class="flex items-center h-5">
            <input
              checked
              id="remember"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
              required
            />
          </div>
          <label
            for="remember"
            class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-400"
            >I agree with the
            <a href="#" class="text-blue-600 hover:underline dark:text-blue-500"
              >terms and conditions</a
            >.</label
          >
        </div>
      </div>
      <!-- Modal footer -->
      <div
        class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
      >
        <button
          data-modal-hide="default-modal"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          (click)="handleAddNewProject()"
        >
          Add new
        </button>
        <button
          data-modal-hide="default-modal"
          type="button"
          class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Thêm nhân viên vào dự án -->
<div
  id="modal-addEmpolyee"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Add Employee From Project
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="modal-addEmpolyee"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <div class="grid gap-6 mb-6 lg:grid-cols-2">
          <div>
            <label
              for="countries"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Project</label
            >
            <select
              [(ngModel)]="projectID"
              (change)="employeesNotInProject(projectID)"
              id="countries"
              class="mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option [value]="project.id" *ngFor="let project of listProject">
                {{ project.name }}
              </option>
            </select>
          </div>

          <div>
            <label
              for="countries"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Employee</label
            >
            <select
              [(ngModel)]="employeeID"
              id="countries"
              class="mb-6 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option
                [value]="employee.id"
                *ngFor="let employee of listEmployee"
              >
                {{ employee.username }}
              </option>
            </select>
          </div>
        </div>
        <div class="flex items-start mb-6">
          <div class="flex items-center h-5">
            <input
              checked
              id="remember"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
              required
            />
          </div>
          <label
            for="remember"
            class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-400"
            >I agree with the
            <a href="#" class="text-blue-600 hover:underline dark:text-blue-500"
              >terms and conditions</a
            >.</label
          >
        </div>
      </div>
      <!-- Modal footer -->
      <div
        class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
      >
        <button
          data-modal-hide="modal-addEmpolyee"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          (click)="handleAddEmployeeForProject()"
        >
          Add new
        </button>
        <button
          data-modal-hide="modal-addEmpolyee"
          type="button"
          class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Chi tiết dự án -->
<div
  style="font-size: 16px"
  id="modal-detailProject"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Detail Project
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="modal-detailProject"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <div
          class="bg-white rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105"
        >
          <div class="p-1 bg-blue-200"></div>
          <div class="p-8">
            <p class="text-4xl font-bold text-gray-800 mb-6">
              #{{ detailProjectData && detailProjectData.name }}
            </p>
            <ul style="font-size: 14.5px" class="text-sm text-gray-600 mb-6">
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-green-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Team Size:
                {{ detailProjectData && detailProjectData.teamSize }}
              </li>
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-green-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Employee Join:
                {{ detailProjectData && detailProjectData.countJoin }}
              </li>
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-green-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Budget:
                {{
                  detailProjectData &&
                    formattedNumber(detailProjectData.budget)
                }}đ
              </li>
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-green-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Exprense:
                {{
                  detailProjectData &&
                    formattedNumber(detailProjectData.exprense)
                }}đ
              </li>
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-green-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Start Date:
                {{ detailProjectData && detailProjectData.startDate }}
              </li>
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-green-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Status:
                {{ detailProjectData && detailProjectData.status }}
              </li>
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-green-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                End Date:
                {{
                  (detailProjectData && detailProjectData.endDate) ||
                    "Not update"
                }}
              </li>
            </ul>
          </div>
          <table
            class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="py-3 px-6">Avatar</th>
                <th scope="col" class="py-3 px-6">Username</th>
                <th scope="col" class="py-3 px-6">Role</th>
                <th scope="col" class="py-3 px-6">Email</th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngIf="
                  detailEmployeeData && detailEmployeeData.length > 0;
                  else noData
                "
              >
                <tr
                  *ngFor="let employee of detailEmployeeData"
                  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                >
                  <td class="py-4 px-6">
                    <img
                      [src]="employee.avatar"
                      style="
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        object-fit: cover;
                      "
                      alt=""
                    />
                  </td>
                  <td class="py-4 px-6">{{ employee.username }}</td>
                  <td class="py-4 px-6">
                    <span
                      style="--bg: #5d87ff; --color: #fff"
                      [ngSwitch]="employee.roleID"
                    >
                      <span *ngSwitchCase="1">Employee</span>
                      <span *ngSwitchCase="2">Leader</span>
                      <span *ngSwitchCase="3">Super Admin</span>
                    </span>
                  </td>
                  <td class="py-4 px-6">{{ employee.email }}</td>
                </tr>
              </ng-container>
              <ng-template #noData>
                <tr>
                  <td colspan="4" class="py-4 px-6">
                    <span
                      style="
                        display: block;
                        text-align: center;
                        margin-top: 15px;
                        font-size: 14.5px;
                      "
                      >There are no employees involved in this project
                      yet.</span
                    >
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
          <div class="p-4" data-modal-hide="modal-detailProject">
            <button
              class="w-full bg-blue-500 text-white rounded-full px-4 py-2 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800"
            >
              Close Detail
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
